<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OurBooks</title>

        <link rel="stylesheet" href="{{ url_for('static',    filename='css/buy.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/select.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/login.css') }}">

        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="theme-color" content="white"/>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

    {%  block content %}

    {% endblock content %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script  src="../static/js/script.js"></script>


</html>