{% extends "layout.html" %}

{%  block content %}

<body class="align">
  <div class="grid">
     <div class="form login">
         <div class="logo">
                <p>Our Books</p>
            </div>
            <input autocomplete="username" id="user" type="text" name="username" class="forminput" placeholder="Username">

            <input id="password" type="password" name="password" class="forminput" placeholder="Password">

            <input type="submit"  id="submit" value="Login">

    </div>
  </div>


</body>


{% endblock content %}